.col-md {
    border: 1px solid #e5e5e5
}

#signup {
    width: 25%;
    height: 34%;
    border-style: solid;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

#login {
    width: 25%;
    height: 25%;
    border-style: solid;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

#error {
    width: 11%;
    height: 11%;
    border-style: solid;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}